.movie-section {
  margin: 40px;
  font-family: "Urbanist", sans-serif;
}

.section-header {
  color: #231942;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.section-title {
  font-size: 30px;
  font-weight: bold;
  margin: 18px 0 8px 0;
  letter-spacing: 0.5px;
}

.view-all-link {
  color: #be95c4;
  text-decoration: none;
  font-weight: 500;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}

@media (max-width: 1200px) {
  .movie-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
}

@media (max-width: 992px) {
  .movie-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .movie-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .movie-grid {
    grid-template-columns: 1fr;
  }
}

.custom-swiper-button-prev.hidden {
  display: none;
}

.custom-swiper-button-prev,
.custom-swiper-button-next {
  position: absolute;
  z-index: 10;
  top: 40%;
}

.custom-swiper-button-prev {
  left: 0;
}

.custom-swiper-button-next {
  right: 0;
  left: 10px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #5e548e;
  font-size: 20px;
}

.swiper-button-prev,
.swiper-button-next {
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.carousel-wrapper:hover .swiper-button-prev,
.carousel-wrapper:hover .swiper-button-next {
  opacity: 1;
  pointer-events: auto;
}
