.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #fff;
  border-bottom: 1px solid #5e548e;
  flex-wrap: wrap;
  font-family: "Urbanist", sans-serif;
}

.navbar-logo,
.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-square {
  background-color: #231942;
  color: white;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
}

.logo-text {
  margin-left: 8px;
  font-weight: bold;
  font-size: 18px;
  color: #5e548e;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #e0b1cb;
  border-radius: 20px;
  padding: 5px 15px;
  width: 300px;
}

.search-input {
  background: transparent;
  border: none;
  color: #231942;
  width: 100%;
  padding: 8px 0;
  outline: none;
}

.search-input::placeholder {
  color: #9f86c0;
}

.search-button {
  background: transparent;
  border: none;
  color: #9f86c0;
  cursor: pointer;
}

.navbar-actions {
  display: flex;
  gap: 15px;
  align-items: center;
}

.sign-in-button {
  background-color: #5e548e;
  border: none;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
}

.get-tickets-button,
.lihat-tiket-btn {
  background-color: #be95c4;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .navbar-actions,
  .search-container {
    width: 100%;
    justify-content: space-between;
  }
}
